# Uber Analysis #

**To:** Operations & Strategy Stakeholders (Uber Rides Division)

**From:** Jean Fernandes (Data Analytics Team)

**Subject:** Analysis of Ride Data for Operational Insights - Draft

## Executive Summary

We analyzed the dataset...

## Loading the data

In [ ]:
#loading the data
import pandas as pd

df = pd.read_csv("data/ncr_ride_bookings.csv")

# print(df.shape)
df.head()
# df.info()
# df.isnull().sum()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI

### 1. Ride Duration & Revenue Distributions

- Provide summary statistics (**mean, median, variance, percentiles**).  
- Identify whether durations and revenues follow any known **continuous probability distributions**.

Since we are working with trip duration and revenue, I will be using the following columns: Avg CTAT (Customer Trip Arrival Time) for trip duration, and Booking value for revenue. After a preliminary analysis of the data, we concluded that the dataset represents panel data as every row is a booking event with different attributes (time, ID, status).

In [22]:
# First we will filter only completed rides
df_completed = df[(df['Booking Status'] == "Completed") &
                   (df['Booking Value'].notnull()) &
                    (df['Avg CTAT'].notnull())]

In [ ]:
# Separating the two columns that we need
df_analysis = df_completed[['Booking Value', 'Avg CTAT']].copy()

#changing the name for clarity
df_analysis.rename(columns={
    'Avg CTAT': 'Ride_Duration',
    'Booking Value': 'Revenue' }, inplace=True)

df_analysis.head()

   Revenue  Ride_Duration
2    627.0           25.8
3    416.0           28.5
4    737.0           19.6
5    316.0           18.1
6    640.0           20.4

In [ ]:
# Summary
df_analysis.describe(percentiles=[0.25,0.5,0.75,0.9,0.95])

# Variance
#df_analysis.var()

            Revenue  Ride_Duration
count  93000.000000   93000.000000
mean     508.178215      30.034772
std      396.058769       8.650707
min       50.000000      15.000000
25%      234.000000      22.600000
50%      414.000000      30.000000
75%      689.000000      37.500000
90%      958.000000      42.000000
95%     1222.000000      43.500000
max     4277.000000      45.000000